/**
 * Copyright Amadeus
 */
{CSSTemplate {
    $classpath : "aria.touch.widgets.SliderCSS"
}}

    {macro main()}

        div.touchLibSlider {
            background: none repeat scroll 0 0 #EFF9FF;
            border: 2px solid #999999;
            border-radius: 32px 32px 32px 32px;
            height: 17px;
        }

        div.touchLibSlider span {
            position: absolute;
        }

        div.touchLibSlider span.sliderButton {
            background: none repeat scroll 0 0 #ffffff;
          border: 2px solid #4776A7;
          border-radius: 32px 32px 32px 32px;
          width: 14px;
        }

    {/macro}

{/CSSTemplate}
